.txtResult {
    height: 50px,
    fontSize: 40px,
    textAlign: 'right',
    marginBottom: 20px,
    boxShadow: 'inset 3px 3px rgba(0, 0, 0, 0.2)'
}
input.operand {
    background-color: orange;
}

